
p{
    color:magenta
   

}


a:hover{

    color:blueviolet
}

h1 {
    font-family: Garamond;
    font-size:18px;
    color:chartreuse;
    background-color:blue;
    width: 400px;
  }
  

img {
    background-image: url("C:\Users\swils\Downloads\pexels-pixabay-531880.jpg");
    position: absolute;
    width: 500px;
    height: 300px;
    opacity: 0.5;
  }

  .text-overlay{

  }

  /* overflow: scroll; */