
/* @font-face{
font-family: "Kablammo";

src: local("Kablammo");

} */





body{

color:aqua;
font-family: "Kablammo";
background-color: blueviolet;
text-transform: uppercase;
font-size:20px;


}

header{



}


table{
    margin-left: auto;
    margin-right: auto;
}




table, th, td{
    border: 1px solid black;
}




td{
    background-color: brown;
}

th{
    color: chartreuse;
    background-color: brown;
}

#pink{
    color:hotpink;
}