
p{
    color: coral;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Agency FB';
   

}

a{
  text-decoration: underline;
  cursor:pointer;
}

a:hover{

    color:blueviolet
}

h1 {
    font-family: 'Agency FB';
    font-size:50px;
    color:chartreuse;
    background-color:blue;
    width: 100%;
    margin-bottom: 200px;
    font-weight: bold;
   
    
  }
  



 


body {
  background-color: green;
  color: wheat;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(CodingImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


#press:hover{
  color: deeppink;
  background-color: chocolate;

}


  /* overflow: scroll; */