
p{
    color: coral;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Agency FB';
    background-color: aquamarine;
   

}

a{
  text-decoration: underline;
  cursor:pointer;
}

a:hover{

    color:blueviolet
}

h1 {
    font-family: 'Agency FB';
    font-size:50px;
    
    background-color:rgb(34, 34, 195);
    width: 100%;
    margin-bottom: 200px;
    font-weight: bold;
   
    
  }
  



 


body {
  background-color: green;
  color: wheat;
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url(NewImage.jpg);
  background-repeat: no-repeat;
  background-size:contain    ;

}


#press:hover{
  color: deeppink;
  background-color: chocolate;

}


  /* overflow: scroll; */


  .breadcrumb li{
    display: inline;
    font-size: 25px;
    color: black;
    font-weight: bold;
    border: 1px, solid, aqua;
    background: hotpink;
  }

  .breadcrumb li::after{
    content: ">";

  }

  .breadcrumb li:hover{
    background-color: blueviolet;
  }

  .breadcrumb li:active{

  }